!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FocusON
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      %nav.nav
        %ul.header_menu
          %li.nav-link 〇〇さん
          %li.header_menu_title
            = link_to "FocusON", root_path, class: "nav-link"
          %li
            %ul.header_menu_inner
              %li
                = link_to "#", class: "nav-link" do
                  %span.mr-1
                    リストを作成
                  %i{class: "fa-edit"}
              %li
                = link_to "サインアウト", "#", class: "nav-link"
    = yield
